<h1><%= @user.email %> Profile</h1>

<p>
  Add a new to do item:
</p>
<%= render partial: '/items/form', locals: { user: @user, item: @item } %>

<h3> Things to Do:</h3>
<% @items.each do |item| %>
  <%= render partial: '/items/item', locals: {item: item} %>
<% end %>
