<div class="container">

    <div class="row">
        <div class="well">
            <h1><%= @user.email %> Profile</h1>
            <%= link_to "Edit Account", edit_user_registration_path, class: "btn btn-info" %>
        </div>
    </div>

    <% if @user == current_user %>
      <div class="row">
          <%= render partial: '/items/form', locals: { user: @user, item: @item } %>
      </div>
    <% end %>

    <h3>
        Things to Do:</h3>

    <ul class="list-group">
        <div class="js-items">
            <% @items.each do |item| %>
            <%= render partial: '/items/item', locals: {item: item} %>
            <% end %>
        </div>
    </ul>

</div>
