<div class="container">
  <div class="jumbotron">

    <p class="text-center"><a class="btn btn-lg btn-success" href="<%= new_user_registration_path %>" role="button">Sign up today</a></p>

    <p class="lead text-center">Don't let your dreams be dreams.</p>


  </div>
</div>
