<div class="container">
  <div class="jumbotron">
    <%= image_tag "/assets/doit.gif", class: "img-responsive center-block"%>
    <p class="lead text-center">Don't let your dreams be dreams.</p>

    <p class="text-center"><a class="btn btn-lg btn-success" href="<%= new_user_registration_path %>" role="button">Sign up today</a></p>

  </div>
</div>
