<%= content_tag :div, class: 'media', id: "item-#{item.id}" do %>
  <p>
    <%= item.name %> |
    <%= link_to "Complete", [item.user, item], method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
  </p>
<% end %>
